.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.filters button {
    background-color: #FF5A5F;
    font-size: 18px;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-right: 20px;
    cursor: pointer;

}
.filters button:hover {
    opacity: 90%;
}